    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
    
    <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
    
{%- style -%}
  /* .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  } */

  
  .popup{
    /* background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center; */
    position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: fit-content;
display:none;
    z-index:999;
}


.popup  button{
    margin:  20px 20px 20px 20px;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
		background: #03549a;
		border-radius: 3px;
		/* width: 40px; */
		height: 40px;

    border: none;
    outline: none;
    cursor: pointer;
}

  div.stars {
      width: 100%;
      display: inline-block;
      text-align:center;
      
    }
    input.star { display: none; }
    label.star {
      float: inherit;
      padding: 10px;
      font-size: 36px;
      color: #444;
      transition: all .2s;
    }
    input.star:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      transition: all .25s;
    }
    input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952;
    }
    input.star-1:checked ~ label.star:before { color: #F62; }
    label.star:hover { transform: rotate(-15deg) scale(1.3); }
    label.star:before {
      content: '\f006';
      font-family: FontAwesome;
    }
    textarea{
        width:100%;
        padding:8px;
    }
    form{
        width:70%;
        
    }
    textarea:focus { 
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }
  @media screen and (min-width: 750px) {
    /* .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    } */
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}
<div class="popup">
<div class="color-{{ section.settings.color_scheme }} isolate gradient" style="padding:20px">
  
  <div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="stars" style="display: flex;align-items: center;flex-direction: column;">
        
    <div style="display:flex;align-self: stretch;">
        <div style ="flex: auto;align-self: center;">Customer Feedback</div>
        {% comment %} <button id="close">&times;</button> {% endcomment %}
    </div>
        <form action="" >
            <div style="display:flex;flex-direction: row-reverse;justify-content: center;">
          <input class="star star-5" id="star-5" type="radio" name="star"/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" name="star"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" name="star"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" name="star"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" name="star"/>
          <label class="star star-1" for="star-1"></label>
          
            </div>
            <div>
                {% comment %} <div >
                    <label for="message">
                    Leave a comment
                    </label>
                </div> {% endcomment %}
            <div>
                    <textarea class="form-control" name="contact[body]" rows="7" placeholder="Leave a Message"></textarea>
                </div>
            </div>
            <div>
            <button id="popup_rating" type="submit">
                submit
            </button>
        </div>
        </form>
      </div>
</div>

</div>
</div>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function(){
        setTimeout(
            function open(event){
                document.querySelector(".popup").style.display = "block";
            }
             
        )
    });
    
    document.querySelector("#close").addEventListener("click", function(){
        document.querySelector(".popup").style.display = "none";
    });
    document.querySelector("#popup_rating").addEventListener("click", function(){
        {% comment %} var customer_email = "{{ customer.email  }}"
        document.querySelector(".popup").style.display = "none";
        console.log(customer_email); {% endcomment %}

/* Build the Shopify Parameters
        //---------------------------------------*/
        var action  = '/contact?';
            action += encodeURIComponent('form_type') +'='+ encodeURIComponent('contact');
            action += '&'+ encodeURIComponent('utf8') +'='+ encodeURIComponent('✓');
            action += '&'+ encodeURIComponent('contact[email]') +'='+ encodeURIComponent(contact_email);
            action += '&'+ encodeURIComponent('contact[body]') +'='+ encodeURIComponent(contact_body);
        
        /* Submit the form
        //---------------------------------------*/
        $.ajax({
            type: "POST",
            async: true,
            url: action,
            error: function(jqXHR, textStatus, errorThrown) {
                //  Request Failed. 
            },
            success: function(response) {
                // Assume Success. 'response' is the complete HTML page of the 
                // contact success form, so likely won't be helpful
                self.submit_thankyou();
            }
        });


        {% comment %} aja {% endcomment %}
    });
        </script>
<script>
        
    </script>